/PassagensDeOnibus/build/
/PassagensDeOnibus/PassagensDeOnibus-cliente/nbproject/private/
/PassagensDeOnibus/PassagensDeOnibus-cliente/build/
/PassagensDeOnibus/PassagensDeOnibus-cliente/dist/
/PassagensDeOnibus/PassagensDeOnibus-war/build/
/PassagensDeOnibus/PassagensDeOnibus-war/dist/
/SistemaRodoviario/nbproject/private/
/SistemaRodoviario/SistemaRodoviario-war/nbproject/private/
/SistemaRodoviario/SistemaRodoviario-ejb/nbproject/private/
/SistemaRodoviario-client/nbproject/private/
/SistemaRodoviario/SistemaRodoviario-ejb/build/
/SistemaRodoviario-client/dist/
/SistemaRodoviario/SistemaRodoviario-ejb/dist/
/SistemaRodoviario-client/build/